doctype html
html
  head
    title AutoFill
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/jquery.autofill.js')
    script(src='/javascripts/script.js')
  body
    block content
